{% extends 'main/base.html' %}

{% block body %}
<style>
#submit{
	background: green;
	color:#fff;
    margin-left:30%;
}
form{
    margin-top;
}

#id_email{
    width:200px;
}
@media(max-width: 670px){
	.resetheader{
		font-size:1.0em;
	}
}
</style>
<div class="container">
  <h3 class="resetheader">Enter the email you registered with to get the reset link</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id="submit" class="btn btn-success">Submit</button>
  </form>
</div>
{% endblock %}
