{% extends 'main/base.html' %}
{% load static %}
{% block title %}Accounts|Login{% endblock %}

{% block body %}
    <style>
form button{
    color:white;
    background:green;
    border-radius: 5px;
    border:0;
    font-size: 1.2em;
    padding:5px;
    margin-left:40%;

    </style>
    <div class="container">
        <form method="POST" class="form-inline" action="" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
          {{ form.as_p }}

            <button type="submit"  id="login_btn" >Login</button>
            <p id="reset"class="text-muted col-md-offset-1  col-sm-offset-1">Reset Password <a href="/accounts/password_reset/">Here</a></p>

        </form>

    </div>


{% endblock %}
