<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Shopping Assistant|{% block title%}{%endblock%}</title>

    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"> -->
    <!--local development -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">

    <!--end of local dev't -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="shortcut icon" href="{% static 'img/fav_vicon.ico'%}" ="image/x-icon">
    <link rel="icon" href="{% static 'img/fav_vicon.ico'%}" type="image/x-icon"> -->
    <link rel="icon"  type="image/png" href="{% static 'img/shop.png' %}">


     <!--end of bootstraping -->
  </head>
  <body>
    <!--navbar -->
<header id="header">
    <nav class="navbar">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target="#MyNavbar">
          <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"  style="font-family: lucida handwriting;color:white;" href="/" title="Takes you to the homepage"  >Shopping Assistant</a>
        </div>
        <div class="collapse navbar-collapse " id="MyNavbar">
          <ul class="nav navbar-nav navbar-left">
          
            {% block search%}
            
            {% endblock%}

          </ul>
          <ul class="nav navbar-nav navbar-right">

            {% if request.user.is_authenticated%}
            <li><a href="{% url 'kenyan_stores_scraper:tracking'%}" title="Followed products">&nbsp;{% block badge%}{%endblock%}&nbsp;Products</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{request.user.username}}</a></li>
            <li><a href="{% url 'kenyan_stores_scraper:logout'%}"><span class="glyphicon glyphicon-off"></span>&nbsp;Logout</a></li>

            {%else %}
            <li><a href="{% url 'kenyan_stores_scraper:register'%}" title="Create an account"><span class="glyphicon glyphicon-pencil"></span>&nbsp;
            SignUp</a></li>
            <li><a href="{% url 'kenyan_stores_scraper:login'%}"><span class="glyphicon glyphicon-user"></span>&nbsp;
            Login</a></li>
            {%endif%}


            <li><!---contact us modal -->


              <!--end of modal -->
          </ul>
            </div></div>
    </nav>
</header>

<!-- end of header block -->

    <!--endnavbar -->
    <!--All the headings here -->
    {% comment %} {% block heading %}<h1 class="text-danger text-center page-header">Hello, world!</h1>{% endblock%} {% endcomment %}
    <!--end of headings -->
    <!--body contents here -->
{% block body%}{%endblock%}
    <!--end of body -->

   <!--img src="{% static 'img/img0.jpg'%}"-->


<!--footer -->
<footer>
    <div class="row">
    <section class="col-md-4 footer-left">
        <p><br>Let's code the Universe :)
        Happy Coding</p>
        <p>&copy;Chirchir Softwares 2018</p>
    </section>
    <div class="col-md-4"><br><br><br>
        <h5 style="text-align:center;">Built with<span class="fa fa-heart"></span> by Ezra Chirchir @chirie_ezra</h5>
    </div>
    <section class="col-md-4 connection_links">
        <p>Connect  with me on </p>
           <a href="https://www.facebook.com/EzraChirchir" class="fa fa-facebook-square"></a>
        <a  href="https://twitter.com/chirie_ezra" class="fa fa-twitter"></a>
        <a  href="https://www.youtube.com/EzraChirchir" class="fa fa-youtube"></a>
        <a  href="#" class="fa fa-whatsapp"></a>
        <a  href="https://www.google.com/kipkiruichirii" class="fa fa-google-plus"></a>




    </section>
</div>


</footer>
<script>
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true,
      'showImageNumberLabel':false
    })
</script>

<!--end footer -->
<!--Javascript Sourcing -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/4.4.2/math.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src=" {% static 'js/search_ajax.js' %}"></script>
<script src=" {% static 'js/lightbox.js' %}"></script>
<script src="{% static 'js/format.js'%}"></script>
<script src="{% static 'js/plot.js'%}"></script>

</body>
</html>
