{% extends 'main/base.html'%}
{%block title%}Home{%endblock%}
{% load static%}
{%block search%}<li>
<form class="navbar-form navbar-left" method="GET" role="search">
  <div class="form-group">
    <input type="text" class="form-control" name="search_keyword" placeholder="Search" style="width:200px;margin-left:60px;">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form></li>
{% endblock%}
{% block body%}
<!-- <div class="search_area">
        <form action="">
            <input type="text"  placeholder="Search Products" value="{{request.get.search_keyword}}">&nbsp;&nbsp;
            <button type="submit" id="search_button">Search</button>
        </form>
    </div><br><br><br> -->
<section id="section_one">
    <p>Online shopping is a common activity that most of us especially the youth have adopted so much.This comes because of the internet penetration especially in Kenya where Technology has taken root.The rise of online shops has increased dramatically in the last four years with major players being Jumia,Killmall and Avechi.Despite this most of the online shops don't take full utility of the price drop downs,promotions and other product characteristics.To advice users on this and other statistical xteristics i decided to develop this application.<p>The application keeps track of the data on the product characteristics from three online shops stores in a database every week and updates.Data is then presented to the user for users predictions and use.All Data is available free of charge and well formatted for scraping </p>
   

</section>
<section id="section_two">

<div class="container-fluid" id="products_container">
    {% if products %}
    <div class="row">
        <div class="col-md-3 col-sm-6"><h4>Product Name</h4><hr></div>
        <div class="col-md-5 col-sm-4 product-keyfeatures"><h4>KeyFeatures</h4><hr></div>
        <div class="col-md-2 product-image"><h4>Product Image</h4><hr></div>
        <div class="col-md-1 product-image"><h4>Track</h4><hr></div>
        
    </div>
         {% for prod in products%}
    <div class="row">
       
    <div class="col-md-3 col-sm-6  product-name">
        <a href="{% url  'kenyan_stores_scraper:details' prod.id  %}" class="{{ prod.product_name }}">{{ prod.product_name }}</a>
       


    </div>

    <div class="col-md-5 col-sm-6 product-keyfeatures">
        
            <p class="details">{{ prod.product_key_features }}</p>
      

    </div>
    <div class="col-md-2 product-image">
    
            <p><img class="{{ prod.product_name }}" src="{{ prod.product_image }}" height="80px"> </p>
        
    </div>
    <div class="col-md-1 track">
    
            <a href="#" class="btn btn-success">Add</a>
        
    </div>

</div><hr>
         {% endfor%}
{% else %}

<div class="row">
    <div class="col-md-offset-4 col-md-6">
        <p class="text-info">Sorry that didn't work please try another method</p>
    </div>

</div>
{% endif%}
<div class="pagination text-center">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current text-center">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

</div>



</section><br>

</body>
{%endblock%}

